{% extends 'fantasy/base.html' %}

{% block content %}
    <h3>Add Goalie</h3>
    <br>
	<a href="{% url 'fantasy:select_action' team.id %}"><button type="button" class="btn btn-secondary">Return to Team Edit</button></a>
	<br><br>
    <table class="table">
        <tr>
			<th> </th>
            <th>Jersey Number</th>
            <th><a href="?order_by=team_name">Team Name</a></th>
            <th><a href="?order_by=name">Name</a></th>
            <th>Games Played</th>
            <th>Wins</th>
            <th>Losses</th>
            <th>Overtime Lossses</th>
            <th>Shots Against</th>
            <th>Saves</th>
            <th>Shutouts</th>
        </tr>
        {% for item in available_goalies %}
        <tr>
            <td><a href="{% url 'fantasy:add' team.id item.id.id %}">  Add player  </a></td>
            <td>{{ item.id.jersey_number }}</td>
            <td>{{ item.id.team_name.team_name }}</td>
            <td>{{ item.id.name }}</td>
            <td>{{ item.id.games_played }}</td>
            <td>{{ item.wins }}</td>
            <td>{{ item.losses }}</td>
            <td>{{ item.overtime_losses }}</td>
            <td>{{ item.shots_against }}</td>
            <td>{{ item.saves }}</td>
            <td>{{ item.shutouts }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}