{% extends 'fantasy/base.html' %}

{% block content %}
    <table>
        <style>
        table {
            border-collapse: collapse;
            border: 1px solid black;
        }
        th, td {
            border: 1px solid black;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        </style>
        <tr>
            <th>League Name</th>
        </tr>
        {% for item in query_results %}
        <tr>
            <td> <a href="{% url 'fantasy:create_fantasy_team' item.fantasy_league_name.fantasy_league_name %}">{{ item.fantasy_league_name.fantasy_league_name }}</a> </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}