{% extends 'fantasy/base.html' %}

{% block content %}
    <li><a href="{% url 'fantasy:nhl_players' %}">NHL Players</a></li>
    <li><a href="{% url 'fantasy:nhl_teams' %}">NHL Teams</a></li>
    <li><a href="{% url 'fantasy:search_nhl_player' %}">Search NHL Player</a></li>
    <li><a href="{% url 'fantasy:create_fantasy_league' %}">Create Fantasy League</a></li>
    <li><a href="{% url 'fantasy:edit_fantasy_league_rules' %}">Edit Fantasy League Rules</a></li>
    <li><a href="{% url 'fantasy:view_fantasy_league_invite_code' %}">View Fantasy League Invite Code</a></li>
    <li><a href="{% url 'fantasy:join_fantasy_league' %}">Join Fantasy League</a></li>
    <li><a href="{% url 'fantasy:create_fantasy_team_show_leagues' %}">Create Fantasy Team</a></li>
    <li><a href="{% url 'fantasy:edit_fantasy_teams' %}">Edit Fantasy Teams</a></li>
    <li><a href="{% url 'fantasy:view_fantasy_teams' %}">View Fantasy Teams</a></li>
    <li><a href="{% url 'fantasy:view_fantasy_leagues' %}">View Fantasy Leagues</a></li>
{% endblock %}