{% extends 'fantasy/base.html' %}

{% block content %}
    <h3>NHL Teams</h3>
    <br>
    <table class="table">
        <tr>
            <th>Team Name</th>
            <th>Goals For</th>
            <th>Goals Against</th>
            <th>Wins</th>
            <th>Losses</th>
            <th>Overtime Losses</th>
        </tr>
        {% for item in query_results %}
        <tr>
            <td>{{ item.team_name }}</td>
            <td>{{ item.goals_for }}</td>
            <td>{{ item.goals_against }}</td>
            <td>{{ item.wins }}</td>
            <td>{{ item.losses }}</td>
            <td>{{ item.overtime_losses }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}