{% extends 'fantasy/base.html' %}

{% block content %}
  <h3>Edit Team</h3>
  <br>
  <div class="list-group">
    <a href="{% url 'fantasy:add_goalie' team.id %}" class="list-group-item list-group-item-action">Add Goalie</a>
    <a href="{% url 'fantasy:remove_goalie' team.id %}" class="list-group-item list-group-item-action">Remove Goalie</a>
    <a href="{% url 'fantasy:add_center' team.id %}" class="list-group-item list-group-item-action">Add Center</a>
    <a href="{% url 'fantasy:remove_center' team.id %}" class="list-group-item list-group-item-action">Remove Center</a>
    <a href="{% url 'fantasy:add_left_wing' team.id %}" class="list-group-item list-group-item-action">Add Left Wing</a>
    <a href="{% url 'fantasy:remove_left_wing' team.id %}" class="list-group-item list-group-item-action">Remove Left Wing</a>
    <a href="{% url 'fantasy:add_right_wing' team.id %}" class="list-group-item list-group-item-action">Add Right Wing</a>
    <a href="{% url 'fantasy:remove_right_wing' team.id %}" class="list-group-item list-group-item-action">Remove Right Wing</a>
    <a href="{% url 'fantasy:add_defencemen' team.id %}" class="list-group-item list-group-item-action">Add Defencemen</a>
    <a href="{% url 'fantasy:remove_defencemen' team.id %}" class="list-group-item list-group-item-action">Remove Defencemen</a>
    <a href="{% url 'fantasy:view_fantasy_team_players' team.id %}" class="list-group-item list-group-item-action">View Current Team</a>
  </div>
{% endblock %}

