{% extends 'fantasy/base.html' %}

{% block content %}
    <h3>View Fantasy Teams</h3>
    <br>
    <table class="table">
        <tr>
            <th>Team Name</th>
            <th>League Name</th>
            <th>Points</th>
        </tr>
        {% for item in teams %}
        <tr>
            <td><a href="{% url 'fantasy:view_fantasy_team_players' item.id %}">{{ item.fantasy_team_name }}</a></td>
            <td>{{ item.fantasy_league_name.fantasy_league_name }}</td>
            <td>{{ item.fantasy_points }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}