h1 a{
    color: rgb(0, 0, 0);
    font-family: 'Palatino Linotype';
}
.header {
    background-color: rgba(74, 83, 168, 0.596);
    margin-top: 0;
    padding: 20px 20px 20px 20px;
}
.content-container {
    padding-top: 20px;
    padding-left: 20px;
}

